<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteCond %{HTTPS} off [OR]
    RewriteCond %{HTTP_HOST} !^www\.pngguru\.in [NC]
    RewriteRule ^(.*)$ https://www.pngguru.in/$1 [L,R=301]
    RewriteRule ^$ public/index.php [L]
    RewriteRule ^((?!public/).*)$ public/$1 [L,NC]
    
    
    
    
</IfModule>